body {
  background-color: #fcf59a;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding: 0;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(49, 49, 49);
  /* padding: 20px 0px; */
  transition: 0.5s;
}

.home {
  margin-right: auto;
  padding: 10px 20px;
  margin: 20px;
  margin-left: 40px;
  transition: 0.5s;

  border-radius: 20px;
}

.about {
  margin-left: auto;
  padding: 10px 20px;
  transition: 0.5s;

  margin-right: 40px;
  transition: 0.5s;
  border-radius: 20px;
}

.copyright {
  background-color: rgb(49, 49, 49);
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  display: flex;
  /* pointer-events: none; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  color: white;
  padding: 20px;
  transition: 0.5s;
}
.copyright:hover {
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
  color: #141414;
}

a:link {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}

.about:hover {
  color: #141414;
  background-color: rgb(212, 212, 212);
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2);
}
.home:hover {
  color: #141414;
  background-color: rgb(212, 212, 212);
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2);
}
a:active {
  text-decoration: none;
  color: #ffffff;
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin-top: 115px;
  position: relative;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 500px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  z-index: 12;
  /* transform: translate(50px, -160px); */
  margin: -175px;
  border-color: white;
  border-style: solid;
  transition: 0.5s;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.profile-pic:hover {
  /* opacity: 50%; */
  /* transition: 0.5s; */
  cursor: pointer;
}

.pfp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}
.pfp:hover {
  opacity: 60%;
  transition: 0.5s;
}
.darkener {
  transform: translate(0px, -155px);
  margin-bottom: -120px;
  opacity: 0%;
  transition: 0.5s;
}
.darkener:hover {
  opacity: 50%;
  transition: 0.5s;
}
.crop {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
  transition: 0.5s;
}
.crop img {
  width: 1200px;
  height: auto;
  margin: -15px 0 0 -100px;
}
.name {
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 210px;
}

.name:hover {
  font-size: 32px;
  transition: 1s;
  background-color: rgb(49, 49, 49);
  color: white;
  border-radius: 10px;
  padding: 10px 130px;
}

.buttons {
  /* background-color: #181818; */
  color: #ffffff;
  padding: 30px 20px;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  font-size: 16px;
}
.buttonmutton {
  background-color: rgb(49, 49, 49);
  padding: 15px 25px;
  border-radius: 5px;
  margin: 30px;
  transition: 0.5s;
}
.buttonmutton:hover {
  background-color: rgb(233, 233, 233);
  color: rgb(49, 49, 49);
  transition: 0.5s;
  padding: 25px 40px;
  /* box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); */
}
/* .email-btn {
  background-color: #454545;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
} */
/* .email-btn:hover {
  background-color: white;
  color: #141414;
  transition: 0.5s;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
} */

/* .social-btn {
  background-color: #454545;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
} */

h1 {
  position: relative;
  left: 550px;
  width: 0%;
}

.symbols {
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  transition: 0.5s;
}

.symbols:hover {
  background-color: rgb(49, 49, 49);
  color: White;
  transition: 0.5s;
}
